@{
    Layout = "_Layout";
}

<h1>Admin/DeleteUser</h1>
<form method="post" action="/Admin/DeleteUser">
    <div>
        <label for="f-del-user">User name:</label>
        <input name="username" id="f-del-user" type="text" placeholder="User name" />
    </div>
    <button type="submit">Delete user</button>
</form>