<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'> 
  <title>Sign up</title>
</head>
<body>
<div>
  <form action='register' method='post'>
    <div>
      <p><label for='login'>Login</label></p>
      <p><input id='login' type='text' name='username' placeholder='Login' required></p>
    </div>
    <div>
      <p><label for='password'>Password</label></p>
      <p><input id='password' type='password' name='password' placeholder='Password' required></p>
    </div>
    <div>
      <p><label for='email'>Email</label></p>
      <p><input id='eamil' type='email' name='email' placeholder='Email' required></p>
    </div>
    <p><input type='submit' value='Sign up'></p>
    <p><a href='/login'>Sign in</a></p>
    </div>
  </form>
</div>
</body>